
<div class="container-fluid p-0">
<nav class="navbar navbar-expand-lg navbar-light navbg pt-1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse p-1 m-0" id="navbarTogglerDemo01">
    <ul class="navbar-nav mt-lg-0  row  m-0 ">
      <!-- <li class="logo"></li> -->
    </ul>
</div>
<div class="dropdown  dropleft float-right">
  <button type="button" class="btn btn-primary dropdown-toggle p-0" data-toggle="dropdown">
    <!-- Dropdown button --><span class="span_admin ">{{admin}}</span>
  </button>
  <div class="dropdown-menu ">
    <a class="dropdown-item" routerLink="/profile">profile</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
    <div class="dropdown-divider"></div>
    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/SignUp">create account</a>
    <div class="dropdown-divider"></div>
    <a href="#"class="p-0" (click)="_authService.SignOut()">
      <i class="fas fa-sign-out-alt "></i>
      logout
    </a>
  </div>
</div>
  <div  *ngIf='sun; then thenBlock else elseBlock'  ></div>
<ng-template #thenBlock> <button (click)='changmood()'> <i class="fas fa-moon sun"></i></button></ng-template>
<ng-template #elseBlock> <button (click)='changmood()'> <i class="fas fa-moon moon" #moon ></i></button></ng-template>
</nav>

</div>



