.apear{
  display: none;
}
aside{
  /* background-color:rgba(255, 255, 255, 0.308); */
  background-color: white;
  /* color: gray; */
  margin-right: 0;
  height:100%;
  /* min-height:90vh; */
  box-shadow: 5px 10px 5px rgb(128, 128, 128,.7);
  box-sizing: border-box;
  overflow: hidden;
 /* height:inherit; */
  margin: 0;
}
.logo{
  border-radius:50%;
  width: 30%;
  display: inline;
  box-shadow:2px 3px 5px gray;

}
.logotext{
  font-size:40px;
  color: red;
display: inline-block;
margin: auto;
   /* margin-top: 15px;
padding-left: 10px; */
font-family: 'Courgette', cursive;
font-family: 'Style Script', cursive;
}
hr{
  width:80%;
  height: 1px;
  background-color: gray;
}

ul{
  padding: 0;
  list-style: none;
  font-size: 25px;
  margin: 0;


}
li{
  margin-top: 10px;
  padding: 0;
  text-align:left;
  display: flex;
  justify-content:space-evenly;
  /* color: rgb(114, 111, 111); */
width: 100%;
/* color: red; */

}
i{
  padding-right:20px;
}
li:hover a{
  /* background-color:rgb(255, 0, 0,.7); */
  background-color:var(--color1);
  font-size:30px;
  color:white!important;

}
a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  width:100%;
  color:rgb(114, 111, 111);
  font-weight:25px;
    padding:15px;
  height: 100%;
  display: flex;

}
.active{
  background-color:var(--color1);

  /* background-color:red; */
  color: white;
  font-size:33px;

}


#contain_searsh{
display: flex;
/* width: fit-content; */
  border-radius: 10px;

 
}
#icone{
  margin:0;
  padding:0;
  color:white;
}
#icone i{
  color:white;
}



.inputSelect {
  width: 0 ;
  height: 0 ;
  display: inline-block;

  border-radius: 20px;
  transition: 2s 0s all ease-in-out;
  padding: 0;
  margin: 0;
  border: 0;
  font-size:20px !important;

}
.liSearch i{
  /* font-size:25px; */
}
.liSearch span{
  font-size: 20px;
}
.liSearch:hover .inputSelect{
  display:inline-block;
  width:150px;
  height:40px;
  

}

