.apear{
  display: none;
}
aside{
  /* background-color:rgba(255, 255, 255, 0.308); */
  background-color: white;
  /* color: gray; */
  margin-right: 0;
  min-height:90vh;
  box-shadow: 5px 10px 5px rgb(128, 128, 128,.7);
  box-sizing: border-box;
  overflow: hidden;
 ;
  margin: 0;
}
.logo{
  border-radius:50%;
  width: 30%;
  display: inline;
  box-shadow:2px 3px 5px gray;

}
.logotext{
  font-size: 22px;
  /* color: red; */
  /* color: gray; */
  color:black;
   /* margin-left: 5px; */
   font-weight:bolder;
   margin-top: 15px;
padding-left: 10px;
}
hr{
  width:80%;
  height: 1px;
  background-color: gray;
}

ul{
  padding: 0;
  list-style: none;
  font-size: 25px;
  margin: 0;


}
li{
  margin-top: 10px;
  padding:15px;
  text-align:left;
  display: flex;
  justify-content:space-evenly;
}
i{
  padding-right:20px;
}
li:hover{
  background-color:rgb(255, 0, 0,.7);
  font-size:30px;
  color: white !important;
}
a{
  text-decoration: none;
  /* color: rgb(153, 138, 138); */
  width:100%;
  /* color: black; */
  font-weight:25px;
  color: rgb(114, 111, 111);
  padding: 0;

}
.active{
  background-color:red;
  color: white;
  font-size:33px;

}
/* .divsearch{
  width:100px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid red;
}
.btnSearch{
  width: 20px;
  height: 20px;
} */
.liSearch{
  width: 100%;
}
#contain_searsh{
display: flex;
width: fit-content;
  height:50px;
  /* border: 2px solid white; */
  border-radius: 10px;

  /* background-color:tomato; */

  /* transition: 2s 0s all ease; */
}
/* #contain_searsh i{
  padding: 0;
  padding-top:6px;
  
  font-size: 20px;
 float: right;
} */


.inputSelect {
  width: 0 ;
  height: 0 ;
  display: inline-block;

  border-radius: 20px;
  /* display:none; */
  transition: 2s 0s all ease-in-out;
  float: left;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 20px !important;

}
.liSearch:hover .inputSelect{
  display:inline-block;
  width:100px;
  height: 30px;

}

