<aside class="m-0 _bgnav">

  <div class="row my-2 p-0 mx-auto ">
    <!-- <img class="logo" src="../../../assets/images/hand.jpg"> -->
    <!-- <span class="logotext pt-2">Blood Bank</span> -->
  </div>
  <!-- <hr class="my-4" /> -->
  <ul class="mt-5">
    <li class="col-12"><a  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/Home"> <i
        class="fas fa-home"></i>

      Home </a></li>
      <li class="col-12"><a 
         [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/Users"> <i
        class="fas fa-users"></i>

      Users </a></li>
      <li class="col-12">
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" 
        routerLink="/Allposts">
      <i class="fas fa-poll-h"></i>

      Posts
    </a></li>

    <li class="col-12 liSearch ">
      <a class="col-12  m-0 d-flex p-0 py-3 ">
        <select  class="inputSelect"  #optionselect>
          <option *ngFor="let b of  blood"  [ngValue]="b">{{b}}</option>
        </select>
      <a (click)="submitval(optionselect.value)" class="p-0 m-0 ASearch">
        <i class="fas fa-search p-2 "></i></a>
       Search 
      </a>
</li>
  </ul>

</aside>
