.bgtable{
  padding: 10px;
  /* background-color: rgb(212, 212, 255); */
  background-color:white;
  margin: 0;
  overflow: hidden;
  box-sizing:border-box;
  border-radius:20px;
  /* border: 2px solid rgb(91, 54, 255); */
  /* box-shadow: 10px 7px 5px rgb(161, 160, 160);  */
  /* background-color: rgb(255, 155, 255); */
  box-shadow: 7px 10px 5px rgba(167, 147, 147, 0.7);
height: min-content;
}