.contain{
  /* background-color: rgb(207, 207, 207); */
  background-color:rgba(253, 212, 212, 0.1);
  margin: 0;
  background-image: url('../../../assets/images/bg5.jpg');
  background-repeat: no-repeat;
  object-fit:fill;
  background-size: 100% 100%;
  /* opacity: .5; */
  /* background-image: linear-gradient(to right,hsla(240, 100%, 50%, 0.5),rgb(0, 0, 255,.2)); */

}
/* app-nav-aside{
  /* height:150vh; 
} */
.cards{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
 
  justify-content:space-evenly;

padding-left: 10px;}
.divCard{
  height: fit-content;
}
.over{
  position:absolute;
  /* background-color:#ed6761; */
  background-image:linear-gradient(#ed6761, white);
  width:100%;
  height:100%;
  top: 0;
  color:black;
  z-index:10;
  border-radius:20px;
  clip-path: circle(0 at 50% 50%);
-webkit-transition: 1s 0s all ease;


}
.BloodType{
  position: relative;
  height:150px;
  width: 100%;
  /* margin-right:5px; */
  border-radius: 20px;
  /* box-shadow: 2px 5px 5px rgb(246, 51, 51); */
  padding: 10px;
  box-sizing: border-box;
  background-color: white ;
/* background-color: #FC5A06; */
}
.bloodimg{
  margin: 5px;
  position: relative;
  height: 50px;
  background-color:red;
  /* background-color: rgb(237,103,97); */
  color:white;
   /* top: -30px; */
  align-items: center;
  border-radius: 10px;
  z-index:10;

  display: inline-block;
  /* box-shadow: 2px 5px 5px rgb(161, 160, 160); */

}
.supscrip{
  z-index: 10;
  text-align:left;
  padding :0;
  font-size:18px;
}
.bloodimg:hover{
  transform:rotate(30deg);
  
}
  .spanText{
    display: inline-block;
    /* width: 40px;
    height: 40px; */
    /* border-radius: 50%; */
    color:red;
    font-weight:bold;
    text-align: center;
font-size:30px ;
padding: 0;

  }

  .BloodType:hover .over{
    clip-path: circle(100% at 50% 50%);
font-size: 25px;  }
  .layout_view h5{
    text-align: center;
    /* margin-top:20px; */
    padding-top: 20px;
  }

a img{
  width:100%;
  height: 100%;
  padding: 5px;
}
.btnv{
  margin-right: 20px;
  margin-left: 100px;
}
a{
  text-decoration: none;
  color: black;
}
h4{
  text-align: center;
}
