<navbar class="row p-0 m-0 sticky-top navtop" ></navbar>
<!-- <div class="_contain container-fluid"></div> -->
<div class="row container-fluid contain p-0 m-0 " 
[ngClass]="{'bg_black':!getmood()}" >
<div class="_contain container-fluid"></div>

    <app-nav-aside class="col-2 p-0   navleft"></app-nav-aside>
    <div class="row px-2 col-10 m-0  mt-4 ">
<div class="row p-0 m-0 cards">
    <div class="col-md-3  col-6 divCard  p-3"
     *ngFor=" let b of blood">
      <a routerLink='/Users/{{b}}'>
        <div class=" BloodType row p-0 m-0 ">
          <div class="over">
            <h5 class="text-center  mt-4 pl-5 ">click to info</h5>
          </div>
           <div class="bloodimg col-3 text-center p-0">
             <!-- <h4 class="text-center mt-1">{{b}}</h4>  -->
          </div> 
            <h4 class="text-center mr-5 row p-0 mt-1 ml-1 ">{{b}}</h4>
          <h6 class=" p-0 mt-3 pl-2 supscrip col-12">subscribe:
            <span class="spanText">{{arr[b]}}</span>
          </h6>
          <!-- <span class=" spanText">{{arr[b]}}</span> -->

        </div>
      </a>
    </div>
  </div>
    </div>
  </div>
