.bgImg{
    background-image: url('../../../assets/images/bg5.jpg');
    background-size: 100% 100%;
    min-height:100vh;
    display: flex;
  
  
  }
  .login{
    /* background-color:rgba(214, 213, 213,.5); */
    /* box-shadow:  5px 5px 5px rgb(151, 148, 148); */
    color:black;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(214, 214, 214,.4);
    border: 1px solid gray;
    box-shadow:  5px 5px 5px rgb(172, 172, 172);

  }
  .btns{
    display: flex;
    justify-content:flex-start;
  }
  .valid{
    border: 1px solid red;
  }
  input{
    border-radius: 10px;
  }
  .btn_sub{
    /* width:80px; */
    display:inline-block;
    /* padding:7px; */
    border-radius: 15px;
    font-size: 23px;
  }