<div class="container-fluid bgImg  bg_g p-5 m-0 ">
  <div class="login  w-70 mx-auto p-5  ">
    <form class="mx-auto w-70 my-auto  py-auto "  [formGroup]="ourValidation">

      <h3>Sign In</h3>
      <!-- <div class="formGroup mb-2">
        <label for="Input_name "  class="d-block mr-5 pr-5"> user Name</label>
        <input type="text" class="formControl w-100 "  #userName 
        [ngClass]="{'valid':!UsernameValid}"
        id="Input_name" aria-describedby="emailHelp" placeholder="Enter name "
        formControlName="Username" 
        >
      </div> -->

      <div class="form-group ">
        <label for="exampleInputEmail1">Email address</label>
        <!-- <i class="fas fa-envelope"></i> -->


                 <input type="email" formControlName="email" class="form-control " #inputmail 
                 [ngClass]="{'valid':!EmailValid}"

        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-danger ">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group ">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="pass" class="form-control" id="exampleInputPassword1"
          placeholder="Password" #pass
           
           [ngClass]="{'valid':!passValid}">
      </div>


      <!-- <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div> -->

   

    

      <!-- Calling GoogleAuth Api from AuthService -->
      <!-- <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div> -->

      <!-- <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div> -->

      <!-- Calling SignIn Api from AuthService -->

    <div class="row  btns mt-5">
      <button  class="btn btn-primary mt-xl-0 mt-2" (click)="authService.SignIn( inputmail.value, pass.value)">
        submit
      </button>
    
      <!-- <button  class="btn btn-primary mt-xl-0 mt-2"
      [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/SignUp">create account
    
    </button> -->
    </div>
</form>
  </div>
</div>
