<navbar class="row p-0 m-0  "></navbar>
<div class="row container-fluid p-0 m-0 contain">
 <div class="container-fluid p-0 m-0 _contain "
 [ngClass]="{'bg_black':!bgcolor()}"
 ></div>
  <app-nav-aside class="col-2 m-0 p-0 "></app-nav-aside>     
  <div class="my-0 p-0 row col-9 mx-auto">
    <div class=" mt-3 row m-0 p-0  d-flex justify-content-between bg_filter col-12 mx-auto d-flex">
      <!-- <div class="_card  p-2 col-2">
       <h6 class="p-2 mt-2"> All users : {{countuser}}</h6>
        <button class="btn btn-primary p-1 mt-3 ml-5 ">send request</button>
       </div>  -->
         <app-filter class="col-10 m-0 p-0">
         </app-filter>
         <span class="col"> 
           <button class="btn   p-2 m-0 _btn-search" (click)="getResult_search()"> Search</button>
         </span>
  
       </div>
    
        <div class="m-0 p-0 col-1 arr">
          <button class="my-5 mx-auto"  (click)="pre()" [disabled]="btnPre"><i class="fas fa-chevron-left "></i></button>
      
        </div>
<div class="bgtable col-10 m-0 p-0 ">

    <table class="table table-hover _table ">
        <thead>
            <tr class="htable">
              <th></th>
                <th scope="col">Name</th>
                <!-- <th>Age</th> -->
                <th scope="col">Email</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Phone</th>
                <th scope="col">Government</th>
                <!-- <th scope="col">Choose Option</th> -->

            </tr>
    </thead>
  <tbody class="">
    <div *ngIf="!users" ></div>
      <tr *ngFor=" let u of users ;index as i" class="px-2">
        <!-- <td >{{_number+i}}</td> -->
        <td>{{u.firstName}}</td>
        <td>{{u.email}}</td>
        <td>{{u.blood_type}}</td>
        <td>{{u.phone}}</td>
        <td>{{u.government}}</td>
        <td>
        <button class="btn _btn " (click)="userinfo(u.email)">info</button>
        </td>
        
      </tr>
      <tr>Alluser {{countuser}} </tr>

    </tbody>
    </table>
</div>
<div class="m-0 p-0 col-1  arr">
  <button class="my-auto mx-auto" (click)="next()" [disabled]="btnNext">
    <i class="fas fa-angle-right"></i>  </button>

</div>

</div>
</div>
<!-- </div> -->
<!-- age: 
25
blood_type: 
"A+"
email: 
"mahmoud123@gmail.com"
firstName: 
"Mahmoud"
phone: 
11458271960
secondName: 
"Mohamed"
user_imgURL: 
"https://firebasestorage.googleapis.com/v0/b/blo..."
 -->